{{template "base" .}} {{define "content"}}
<table role="presentation" class="main">
  <!-- START MAIN CONTENT AREA -->
  <tr>
    <td class="wrapper">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <p>Dear {{ .Name}},</p>
            <p>We are sorry to inform you that your company registration has been rejected.! </p>
            <p>While we understand that this news may be disappointing, please know that our decision was based on various factors that we believe will help maintain the quality and integrity of our platform.</p>
            <p>Thank you for considering @InternWiseHub </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <!-- END MAIN CONTENT AREA -->
</table>
{{end}}